.navbar {
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid rgb(76, 76, 78);
    z-index: 5;
    width:100%;
}

.brandTitle {
    margin: .5rem;
}

.navbarLinks {
    height: 100%;
}

.navbarLinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarLinks li {
    list-style: none;
}

.navbarLinks li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem;
}

.navbarLinks li:hover {
    background-color: rgb(170, 180, 187);
}

.selected{
    background-color: rgba(9, 90, 148, 0.596);
}

.toggleButton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggleButton {
        display: flex;
    }

    .navbarLinks {
        width: 100%;
    }

    .navbarLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navbarLinks ul li {
        text-align: center;
    }

    .navbarLinks ul li a {
        padding: .5rem 1rem;
    }

    .visible{
        display: flex;
    }
    .hidden{
        display:none;
    }
}