  .main {
    margin-top: 0;
    padding: 0;
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    transition: .3s all ease-in-out;
  }
  
  .card {
    cursor: pointer;
    height: 340px;
    width: 250px;
    max-width:250px;
    margin: 0.5rem;
    background-color: #fff;
    padding: 0;
    text-align: center;
    color: inherit;
    text-decoration: none;
    box-shadow: 1px 1px 5px #979794e5;
    border-radius: 5px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

  .image{
    padding-top: 10px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    border: none;
    box-shadow: 1px 1px 5px #a09d9ce5;
    transform: scale(1.02)
  }
  
  .productName {
    font-weight: 100;
  }
  
  .price {
    margin-bottom: 0.5em;
    font-size: 1rem;
    font-weight: 800;
    color: maroon;
    padding-bottom: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .navbar li:not(:last-child) {display: none;}
    .navbar li.icon {
      float: right;
      display: block;
      padding-right: 0px;
      margin-right: 0px;
    }
  
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .navbar.responsive li{display: block;}
  
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .card {
      min-width: 80%;
      max-width: 90%;
    }
  
    .smallCard {
      max-width: 90%;
      min-width: 80%;
    }
  
  }
  