  .grid {
    min-height: 80vh;
    margin-top: 100px;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    transition: .3s all ease-in-out;
    background-color: #fff;
  }

  .detail{
    flex:2;
    text-align: left;
    max-width:80%;
    margin-left: 1em;
  }

  .image{
    padding-top: 1.3rem;
    width: 50%;
    height: 400px;
    border-radius: 5px;
    flex:1;
  }
  

  .productName {
    font-size: 2em;
    font-weight: 600;
    padding-top: 0.5em;
    margin: 0;
  }

  .category{
    text-transform: capitalize;
    font-weight: 150;
  }
  
  .price {
    margin:0;
    padding:0;
    font-size: 1.5em;
    font-weight: 800;
    color: maroon;
  }

  .description{
    font-size: 1.1em;
    font-weight: 200;
    text-transform: capitalize;
  }
  
  @media (max-width: 600px) {
    .navbar li:not(:last-child) {display: none;}
    .navbar li.icon {
      float: right;
      display: block;
      padding-right: 0px;
      margin-right: 0px;
    }
  
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .navbar.responsive li{display: block;}
  
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .card {
      min-width: 80%;
      max-width: 90%;
    }
  
    .smallCard {
      max-width: 90%;
      min-width: 80%;
    }
  
  }
  