.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  margin-left: 60px;
}
.navbar{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 1;
    overflow: hidden;
}

.navbar *{
  display: inline;
}

.navbar li {
  margin-left: 0.8em;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.icon {
  display: none;
}
.displayPic{
  border-radius: 50%;
  margin: 0 0 0 0;
  z-index: 0;
}

.leftSpace{
  padding-left: 1rem;
}

.mobEmail{
  margin: 0.1rem 0 0 0;
  padding: 0.2rem 0 0 0;
  line-height: 1;
  font-size: 1rem;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.title {
  line-height: 1em;
  font-size: 4em;
  font-weight: 800;
  font-family: 'Merriweather', serif;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #9C89B3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 90%;
}
.smallCard {
  max-width: 50%;
  min-width: 30%;
}

.card:hover,
.card:focus,
.card:active {
  color: #301453;
  border-color: #533782;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height:auto;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .navbar li:not(:last-child) {display: none;}
  .navbar li.icon {
    float: right;
    display: block;
    padding-right: 0px;
    margin-right: 0px;
  }

  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .navbar.responsive li{display: block;}

  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    min-width: 80%;
    max-width: 90%;
  }

  .smallCard {
    max-width: 90%;
    min-width: 80%;
  }

}
